.game-title
{
    margin-left: calc(var(--nav-width) + (2 * var(--nav-padding)));
    padding-top: 40px;
    text-align: center;
}

.game-content
{
    margin-left: calc(var(--nav-width) + (2 * var(--nav-padding)));
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
}

.game-media
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-media video
{
    aspect-ratio: 6 / 13;
    max-height: 68vh;
}

.game-media canvas
{
    aspect-ratio: 9 / 12;
    height: 68vh;
}

/* 6 / 13 - video ar */

.game-media a
{
    max-width: 200px;
    width: 100%;
}

#app-store
{
    width: 100%;
}

.game-info
{
    max-width: 700px;
}

.game-desc
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: var(--text-lg);
}

.no-list-symbol
{
    list-style-type: none;
}

@media (max-width: 800px)
{
    .game-title
    {
        margin-left: 0;
        margin-top: 60px;
    }
    .game-content 
    {
        flex-direction: column;
        margin-left: 0;
    }
}