/* nav style */
#side-nav
{
    padding: var(--nav-padding);
    width: var(--nav-width);
    /* background: linear-gradient(to right, #b5b9ca7d, #9da0b0a2); */
    backdrop-filter: blur(5px);
    
    border-right: 1px solid var(--color-glow);
    box-shadow: 3px 0px 5px var(--color-glow);
    height: calc(100% - var(--nav-padding) * 2);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    font-size: var(--text-md);

    transition: all 0.15s ease-out;
}

.menu-button
{
    background: none;
    border: none;
    margin-left: auto;
    display: none;
}

.open-nav
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
#side-nav:hover
{
    width: 225px;
}

#side-nav .show-hover { display: none; }
#side-nav:hover .show-hover { display: inline; }

#side-nav .line
{
    background-color: var(--color-seconady);
    width: 100%;
    height: 1px;
}
#side-nav h2
{
    font-size: var(--text-md);
}

#side-nav .icon
{
    border-radius: 2.5px;
}
#side-nav a 
{
    display: inline-flex;
    gap: 25px;
    width: 100%;
    padding-right: 5px;
    align-items: center;
    text-wrap: nowrap;
    justify-content: space-between;
    background-color: clear;
    text-decoration: none;
    color: var(--color-seconady);

    transition: all 0.2s ease;
}
#side-nav a:hover
{
    background-color: var(--color-hover);
}

.hide-span span
{
    display: none;
}

@media (max-width: 800px) 
{
    #side-nav
    {
        width: calc(100% - 4px);
        top: 0px;
        left: 0px;
        border-right: none;
        height: auto;
        padding: 2px;
        position: sticky;
    }

    #side-nav:hover{
        width: calc(100% - 4px);
    }

    .open-nav
    {
        overflow: hidden;
        height: 275px;
        transition: height 0.2s ease;
        padding: 5px 15px;
    }

    .closed
    {
        height: 0px;
    }

    .menu-button
    {
        display: block;
    }
}