* 
{
    margin: 0;
    padding: 0;
}
:root
{
    --text-xs: 0.75rem;
    --text-md: 1.2rem;
    --text-lg: 1.5rem;
    --text-xl: 3rem;
    --text-vXL: clamp(2rem, 2vw + 2rem, 4rem);

    --nav-width: 50px;
    --nav-padding: 15px;

    --color-primary: #292929;
    --color-seconady: #b1b1b1;
    --color-3: #868686;
    --color-hover: rgb(91, 91, 91);
    --color-glow: #2CE8F5;
}

body 
{
   font-family: "Geo", sans-serif;
   font-weight: 400;
   font-style: normal;
   min-height: 100vh;

   background-color: var(--color-primary);
   color: var(--color-seconady);

   position: relative;
}

h1
{
    font-size: var(--text-vXL);
}

ul
{
    list-style-position: inside;
}

/* nav style */
#side-nav
{
    padding: var(--nav-padding);
    width: var(--nav-width);
    /* background: linear-gradient(to right, #b5b9ca7d, #9da0b0a2); */
    backdrop-filter: blur(5px);
    border-right: 1px solid var(--color-glow);
    box-shadow: 3px 0px 5px var(--color-glow);
    height: calc(100% - var(--nav-padding) * 2);
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    overflow-x: hidden;
    font-size: var(--text-md);

    transition: width 0.15s ease-out;
}

#side-nav:hover
{
    width: 225px;
}

#side-nav .show-hover { display: none; }
#side-nav:hover .show-hover { display: inline; }

#side-nav .line
{
    background-color: var(--color-seconady);
    width: 100%;
    height: 1px;
}
#side-nav h2
{
    font-size: var(--text-md);
}

#side-nav .icon
{
    border-radius: 2.5px;
}
#side-nav a 
{
    display: inline-flex;
    gap: 25px;
    width: 100%;
    padding-right: 5px;
    align-items: center;
    text-wrap: nowrap;
    justify-content: space-between;
    background-color: clear;
    text-decoration: none;
    color: var(--color-seconady);

    transition: all 0.2s ease;
}
#side-nav a:hover
{
    background-color: var(--color-hover);
}

.hide-span span
{
    display: none;
}

/* content */
.content
{
    position: relative;
    margin-left: calc(var(--nav-width) + (2 * var(--nav-padding)));
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
    gap: 30px;
    padding: 50px;
}

/* grid stuff */
.main-grid
{
    gap: 30px;
    display: grid;
    grid-template-areas: 
    "title title"
    "photo bio"
    "photo socials";

    font-size: var(--text-lg);
    max-width: 1000px;
}

#title
{
    grid-area: title;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#title span
{
    color: var(--color-seconady);
    font-size: var(--text-lg);
}

.main-grid img
{
    grid-area: photo;
}

.main-grid #bio
{
    grid-area: bio;
}

.socials
{
    grid-area: socials;
    display: inline-flex;
    gap: 20px;
}

.social-button
{
    background-color: #333333;
    box-shadow: 0px 2px 3px var(--color-glow);
    padding: 5px 10px;
    height: 40px;
    font-size: var(--text-md);
    text-decoration: none;
    text-align: right;
    color: var(--color-seconady);

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    transition: all 0.05s ease-out;
}

.social-button:hover
{
    transform: translate(0px, -2px);
    box-shadow: 0px 4px 3px var(--color-glow);
}

.bottom-text
{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: var(--text-lg);
    bottom: 3vh;
}

/* hobby games*/
#hobbies-text
{
    margin-top: auto;
    font-size: var(--text-lg);
}

.hobby-games
{
    padding: 0 20px 0 20px;
    display: flex;
    gap: 60px;
    align-items: center;
    max-width: calc(100% - 40px);
    overflow-x: auto;
    scrollbar-color: var(--color-seconady) var(--color-primary);
}

.hobby-game 
{
    flex: 0 0 auto;
    width: 500px;
    height: 250px;
}
